<dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i>&nbsp&nbsp综合管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('More/pweb_gl')}" data-title="关于我们设置" href="javascript:void(0)">关于我们设置</a></li>
                    <li><a data-href="{:U('More/setup')}" data-title="小程序配置" href="javascript:void(0)">小程序配置</a></li>
                    <li><a data-href="{:U('More/indextopcat')}" data-title="首页一层分类" href="javascript:void(0)">首页一层分类</a></li>
					<li><a data-href="{:U('More/indexmidcat')}" data-title="首页二层分类" href="javascript:void(0)">首页二层分类</a></li>
            </ul>
        </dd>
    </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe62d;</i>&nbsp&nbsp会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('User/index')}" data-title="会员管理" href="javascript:void(0)">会员管理</a></li>
            </ul>
        </dd>
    </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe62d;</i>&nbsp&nbsp管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Adminuser/add')}" data-title="添加管理员" href="javascript:void(0)">添加管理员</a></li>
                    <li><a data-href="{:U('Adminuser/adminuser')}" data-title="管理员管理" href="javascript:void(0)">管理员管理</a></li>
            </ul>
        </dd>
    </dl>
	 <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('News/add')}" data-title="添加资讯" href="javascript:;">添加资讯</a></li>
                    <li><a data-href="{:U('News/index')}" data-title="所有资讯" href="javascript:void(0)">所有资讯</a></li>
					<li><a data-href="{:U('NewsCate/add')}" data-title="添加资讯分类" href="javascript:void(0)">添加资讯分类</a></li>
					<li><a data-href="{:U('NewsCate/index')}" data-title="资讯分类管理" href="javascript:void(0)">资讯分类管理</a></li>
            </ul>
        </dd>
    </dl>
       
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Product/add')}" data-title="添加产品" href="javascript:void(0)">添加产品</a></li>
                    <li><a data-href="{:U('Product/index')}" data-title="产品管理" href="javascript:void(0)">产品管理</a></li>
            </ul>
        </dd>
    </dl>
   
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp品牌管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Brand/add')}" data-title="添加品牌" href="javascript:void(0)">添加品牌</a></li>
                    <li><a data-href="{:U('Brand/index')}" data-title="品牌管理" href="javascript:void(0)">品牌管理</a></li>
            </ul>
        </dd>
    </dl>
    </dl>
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Order/index')}" data-title="全部订单" href="javascript:void(0)">全部订单</a></li>
            </ul>
        </dd>
    </dl>
    </dl>
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Category/add')}" data-title="添加分类" href="javascript:void(0)">添加分类</a></li>
                    <li><a data-href="{:U('Category/index')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp视频管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Video/add')}" data-title="添加视频" href="javascript:void(0)">添加视频</a></li>
                    <li><a data-href="{:U('Video/index')}" data-title="视频管理" href="javascript:void(0)">视频管理</a></li>
            </ul>
        </dd>
    </dl>
